@model NominaAPEC.Models.TipoIngreso

@{
    ViewData["Title"] = "Detalles del Tipo de Ingreso";
}

<h2>@ViewData["Title"]</h2>

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Información del Tipo de Ingreso</h5>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DependeDeSalario)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DependeDeSalario)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>
