@model NominaAPEC.Models.AsientoContable

@{
    ViewData["Title"] = "Eliminar Asiento Contable";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Estás seguro de que deseas eliminar este asiento contable?</h3>
<div>
    <h4>Detalles del Asiento Contable</h4>
    <hr />
    <dl class="row">
        <!-- Descripción -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <!-- ID Auxiliar -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAuxiliar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAuxiliar)
        </dd>

        <!-- Cuenta DB -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaDB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CuentaDB)
        </dd>

        <!-- Cuenta CR -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaCR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CuentaCR)
        </dd>

        <!-- Fecha del Asiento -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaAsiento.ToString("yyyy-MM-dd HH:mm"))
        </dd>

        <!-- Monto -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <!-- Estado -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @(Model.Estado ? "Activo" : "Inactivo")
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>
