@model NominaAPEC.Models.AsientoContable

@{
    ViewData["Title"] = "Detalles del Asiento Contable";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Asiento Contable</h4>
    <hr />
    <dl class="row">
        <!-- Descripción -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <!-- Nombre del Empleado -->
        <dt class="col-sm-2">
            Empleado
        </dt>
        <dd class="col-sm-10">
            @Model.Empleado?.Nombre
        </dd>

        <!-- Cuenta -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cuenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cuenta)
        </dd>

        <!-- Tipo de Movimiento -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>

        <!-- Fecha del Asiento -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaAsiento)
        </dd>

        <!-- Monto del Asiento -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoAsiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoAsiento)
        </dd>

        <!-- Estado -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @(Model.Estado ? "Activo" : "Inactivo")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
